@model GTC13357.Models.CourseTitle

@{
}
<div class="container-fluid">
    <h1>Edit course data:</h1>
    <form asp-action="EditTitle" asp-controller="Course" method="post">
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <span asp-validation-for="Title" class="text-danger"></span>
            <input class="form-control" placeholder="Course title" asp-for="Title" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="CourseTypeId" class="text-danger"></span>
            <input class="form-control" placeholder="Course type id" asp-for="CourseTypeId" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Author_Name" class="text-danger"></span>
            <input class="form-control" placeholder="Author name" asp-for="Author_Name" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Author_Surname" class="text-danger"></span>
            <input class="form-control" placeholder="Author surname" asp-for="Author_Surname" />
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-info" value="update" />
        </div>
    </form>
</div>