
@model IEnumerable<GTC13357.Models.Course>





@{

}

<h1 class="head_GTC_h">Courses</h1>
<h3 class="head_GTC_h">Quantity in database: @Model.Count()</h3><br /><br />


<a class="head_GTC_a" asp-action="List" asp-controller="Course">Display praticipants</a>
<br />
<a class="head_GTC_a" asp-action="Add" asp-controller="Course">Add new participant</a>
<br /><br />
<a class="head_GTC_a" asp-action="ListTitles" asp-controller="Course">Display courses</a>
<br />
<a class="head_GTC_a" asp-action="AddTitle" asp-controller="Course">Add new course</a>
<br />




