
@model IEnumerable<GTC13357.Models.Course>





@{

}

<h1>Courses</h1>
<h3>Quantity in database: @Model.Count()</h3>

<a class="nav-link text-dark display-6" asp-area="" asp-controller="Course" asp-action="Index">tu bedzie logout</a>
<a asp-action="List" asp-controller="Course">Display courses</a><br />
<a asp-action="Add" asp-controller="Course">Add new course</a>
<br />




