@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="head_GTC_h display-4">Tomasz Więsek, index: 13357</h1>
    <p class="head_GTC_p">Dość ważna uwaga - w kodzie, Course odpowiada tak naprawdę Uczestnikom kursów, a CourseTitle odpowiada Kursom.</p>
    <p class="head_GTC_p">Stało się to dlatego, że mój plan na ten projekt lekko ewoluuował z każdymi kolejnymi laboratoriami - poznawanie nowych rzeczy sprawiało, że zmieniałem wcześniej zaplanowany projekt</p>
    <p class="head_GTC_p">Finalnie, encja Course zaczeła odpowiadać po prostu osobom, które biorą w kursach udział. Niemniej - we frontendzie wszystko jest pod tym względem w porządku; kursy to kursy a uczestnicy to uczestnicy :)</p>
    
</div>
