@model GTC13357.Models.LoginModel

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="mb-3">
        <span asp-validation-for="Name" class="text-danger"></span>
        <input class="inpt_GTC form-control" placeholder="Your name" asp-for="Name" />
    </div>
    <div class="mb-3">
        <span asp-validation-for="Password" class="text-danger"></span>
        <input class="inpt_GTC form-control" placeholder="Your password" asp-for="Password" />
    </div>
    <input asp-for="ReturnUrl" hidden />

    <div class="mb-3">
        <button type="submit">Login</button>
    </div>
</form>