<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GTC13357</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="bod_GTC_bck">
    <header>
        <div class="head_GTC_bck">
            <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="head_GTC_h" asp-area="" asp-controller="Home" asp-action="Index">Kursy - Tomasz Więsek, 13357</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="head_GTC_a nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Start</a>
                            </li>
                            <li class="nav-item">
                                <a class="head_GTC_a nav-link text-dark display-6" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                <a class="head_GTC_a nav-link text-dark display-6" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
