.head_GTC_h {
    color: #1B2326;
    font-size: 26px;
}

.head_GTC_a {
    font-size:20px;
    color: #36594C;
}

.head_GTC_bck {
    background-color: #A65369;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head_GTC_bck_con{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.bod_GTC_bck {
    background-color: #BFA8B5;
    width: 100%;
    height:100%;
}

body {
    background-color: #BFA8B5;
    height: 60vh;
}

.inpt_GTC{
    background-color:#F2E4F0;
    color:#A65369;
}